button {
	display: flex;
	padding: 20px 36px 20px 36px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 16px;
	background-color: #efd372;
	color: #274c5b;
	font-family: Roboto;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	border: none;
	transition: all 0.4s ease-in;
}
button:hover {
	cursor: pointer;
	background-color: #274c5b;
	color: #fff;
}
